[tool.poetry]
name = "oda_data"
version = "0.4.0"
description = "A python package to work with Official Development Assistance data from the OECD DAC."
readme = "README.md"
authors = ["Jorge Rivera <jorge.rivera@one.org>"]
packages = [{ include = "oda_data" }]
classifiers = ["Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 3 - Alpha",
]
[project.urls]
"Homepage" = "https://github.com/ONEcampaign/oda_data_package"
"Bug Tracker" = "https://github.com/ONEcampaign/oda_data_package/issues"

[tool.poetry.dependencies]
python = "^3.10"
pandas = "^1.5.2"
bblocks = "^0.5.0"
requests = "^2.28.2"
beautifulsoup4 = "^4.11.1"
pydeflate = "^1.2.10"


[tool.poetry.dev-dependencies]
black = "^22.12.0"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
bump2version = "^1.0.1"
pytest-mock = "^3.10.0"




[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
