[project]
name = "oda_data"
version = "2.0.0b1"
description = "A python package to work with Official Development Assistance data from the OECD DAC."
readme = "README.md"
authors = [{name = "Jorge Rivera", email = "jorge.rivera@one.org"}]
requires-python = ">=3.10, <4.0"
dependencies = [
    "pandas >=2",
    "thefuzz >=0.22.1",
    "pyarrow >=14, <20",
    "oda-reader >=1",
    "pydeflate >=2.0.1",
    "cachetools (>=5.5.1,<6.0.0)"
]

[project.optional-dependencies]
dev = [
    "black >=24",
    "pytest >=8",
    "pytest-cov >=4.0.0",
    "pytest-mock >=3.10.0"
]

[tool.poetry-dynamic-versioning]
enable = true
style = "pep440"

[project.urls]
Homepage = "https://github.com/ONEcampaign/oda_data_package"
Bug_Tracker = "https://github.com/ONEcampaign/oda_data_package/issues"

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"