[tool.poetry]
name = "oda_data"
version = "1.4.0"
description = "A python package to work with Official Development Assistance data from the OECD DAC."
readme = "README.md"
authors = ["Jorge Rivera <jorge.rivera@one.org>"]
packages = [{ include = "oda_data" }]

[project.urls]
"Homepage" = "https://github.com/ONEcampaign/oda_data_package"
"Bug Tracker" = "https://github.com/ONEcampaign/oda_data_package/issues"

[tool.poetry.dependencies]
python = "^3.10"
pandas = "^2"
bblocks = "^1"
requests = "^2"
pydeflate = "^1"
lxml = "^5"
pyarrow = ">=14, <17"
thefuzz = "^0.22.1"
oda-reader = "^1"
beautifulsoup4 = "^4.12.3"
selenium = "^4.20.0"
webdriver-manager = "^4.0.1"


[tool.poetry.dev-dependencies]
black = "^24"
pytest = "^8"
pytest-cov = "^4.0.0"
bump2version = "^1.0.1"
pytest-mock = "^3.10.0"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
